@charset "utf-8";

html {
  margin: 0;
  padding: 0;
}

:root {
  font-size: var(--font-size-1);
}

body {
  margin: var(--font-size-1) calc(var(--game-square-size)/2);
  padding: 0;
  font-family: var(--font-body);
  line-height: 1.7;
  letter-spacing: 0.025em;
}

body > header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .3em;
}

body > header img {
  max-width: 100%;
  max-height: 5em;
  height: auto;
  width: auto;
}

body > header strong {
  font-family: var(--font-title);
  font-size: var(--font-size-5);
  margin: 0;
  padding: 0;
}

cite,
em {
  font-style: normal;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-family: var(--font-title);
  line-height: 1.3;
  letter-spacing: 0.02em;
}

article q {
  font-family: var(--font-dialogue);
  line-height: 1.5;
  letter-spacing: 0.015em;
}

article blockquote {
  font-family: var(--font-quote);
  font-style: normal;
}

article p {
  text-align: justify;
}

img {
  max-width: 100%;
  max-height: 1024px;
  width: auto;
  height: auto;
}

dt {
  margin-top: .5em;
}

table:not(.squares) th {
  text-align: left;
}

table:not(.squares) {
  margin: 1em 0;
}

table.squares {
  border-collapse: collapse;
  table-layout: fixed;
  width: var(--game-board-size);
  height: var(--game-board-size);
  empty-cells: show;
  background-image: url("../img/sides/first/board.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

table.squares tr.rank {
  height: var(--game-square-size);
}

table.squares img.piece {
  display: block;
  height: var(--game-piece-size);
  margin-left: auto;
  margin-right: auto;
}

dl.pieces img.piece {
  height: var(--game-piece-size);
}

dl.pieces figure {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
}

caption,
figcaption {
  font-size: 0.9rem;
}

table.squares tr.rank td.square.focus {
  background-color: hsla(60, 100%, 50%, 0.4);
  background-clip: content-box;
  padding: var(--atom-size);
}

table.squares caption {
  caption-side: bottom;
}

table.pieces img.piece {
  display: block;
  height: 2em;
  margin-left: auto;
  margin-right: auto;
}

table.pieces {
  border: thin solid var(--article-title-shadow-color);
  border-spacing: var(--margin-size);
  border-collapse: separate;
}

table.pieces caption {
  background-color: var(--article-title-shadow-color);
  caption-side: top;
}

table.pieces thead th {
  text-align: center;
}

table.pieces thead tr {
  text-align: left;
}
